<div ng-controller="eventsController">
  <link rel="stylesheet" href="Public/css/addEvent.css">

  <h2>There are {{events.length}} events</h2>
  <ul>
    <li ng-repeat="event in events">{{event.name}} {{event.date}} {{event.location}}</li>
  </ul>

  <form ng-submit="addEvent()">
    <form ng-button="deleteEvent()">


    <br><label>Name:<input ng-model="name" type="text" placeholder="Event name"></label><br>
    <br><label>Date:<input ng-model="date" placeholder="Date of the event"></label><br>
    <br><label>Location:<input ng-model="location" placeholder="Location of the event"></label><br>
    <br><label>Description:<input ng-model="description" placeholder="Event description"></label><br>
    <button type="submit">Add</button>
    <button type="button" value="remove" ng-click="deleteEvent(item)">Delete</button>


  </form>
  </form>
</div>
