<form ng-submit="vm.onSubmit()">
  <form method="post" action="/login">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="vm.credentials.email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.credentials.passowrd">
  </div>
  <button type="submit" class="btm btn-default">Sign in</button>
</form>
